{% extends "frame.html" %}

{% block main %}
       <div class="tpl-content-wrapper">



            <div class="row-content am-cf">
                <div class="widget am-cf">
                    <div class="widget-body">
                        <div class="tpl-page-state">
                            <div class="tpl-page-state-title am-text-center tpl-error-title"><img src="{{ static_url("assets/img/mycode.png")}}" alt=""></div>
                            <div class="tpl-error-title-info"> 与开发者交流二维码【微信】</div>
                            <div class="tpl-page-state-content tpl-error-content">

                                <p>对不起,您暂无相关业务权限,您也可以通过扫描上方的二维码与开发者联系获取更多信息，欢迎给开发者提需求，这些信息将是免费的。</p>
                                <p><a href="/auth/create" >您也可以点此免费注册成为会员获得更多的信息，点击进入》</a></p>
                                <a class="am-btn am-btn-danger" href="/auth/create">人数太多，暂停注册</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
{% end %}