{% extends "frame.html" %}

{% block main %}
       <div class="tpl-content-wrapper">



            <div class="row-content am-cf">
                <div class="widget am-cf">
                    <div class="widget-body">
                        <div class="tpl-page-state">
                            <div class="tpl-page-state-title am-text-center tpl-error-title"><img src="{{ static_url("assets/img/yrtcode.png")}}" alt=""></div>
                            <div class="tpl-error-title-info"><a href="http://www.yrtjr.com"> 壹融通APP二维码</a></div>
                            <div class="tpl-page-state-content tpl-error-content">

                                <p>对不起,您暂无相关业务权限,您也可以通过扫描上方的二维码下载壹融通APP获取更多信息</p>
                                <p><a href="/auth/create" >您也可以点此免费注册成为高级VIP会员获得更多的信息，点击进入》</a></p>
                                <a class="am-btn am-btn-danger" href="/auth/create">立即注册</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
{% end %}