{% extends "frame.html" %}

{% block main %}

        <div class="tpl-content-wrapper">
           <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-title  am-cf">
                                    <h2>{{business_detail_base.business_name }}</h2>
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs">{{ business_detail_base.business_reg_state }}</button>
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs">{{ business_detail_base.business_industry }}</button>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-title  am-fr">
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-primary">发送报告</button>
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-warning">加入监控</button>
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-success">更新数据</button>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                    <table width="100%" class="am-table am-table-compact  tpl-table-black " id="example-r">
                                        <tbody>
                                            <tr >
                                                <td width="20"></td>
                                                <td width="60">电话：</td>
                                                <td>{{ business_detail_base.business_phone }}</td>
                                                <td>邮箱：</td>
                                                <td>{{ business_detail_base.business_email }}</td>

                                                </tr>
                                            <tr>
                                                <td></td>
                                                <td>网址：</td>
                                                <td>{{ business_detail_base.business_url}}</td>
                                                <td>地址：</td>
                                                <td>{{ business_detail_base.business_addres}}</td>


                                            </tr>
                                            <tr class="gradeC">
                                                <td></td>
                                                <td>简介：</td>
                                                <td colspan="3">{{ business_detail_base.business_summary}}</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            <div class="widget-body  am-fr">
                                <div class="am-tabs" data-am-tabs>
                                  <ul class="am-tabs-nav am-nav am-nav-tabs">
                                    <li class="am-active"><a href="#tab1">企业概况</a></li>
                                    <li><a href="#tab2">产品概况</a></li>
                                    <li><a href="#tab3">发展情况</a></li>
                                    <li><a href="#tab4">风险信息</a></li>
                                    <li><a href="#tab5">企业图谱</a></li>
                                    <li><a href="#tab6">涉诉信息</a></li>
                                    <li><a href="#tab7">知识产权</a></li>
                                    <li><a href="#tab8">经营信息</a></li>

                                  </ul>

                                  <div class="am-tabs-bd">
                                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                        <div class="row-content am-cf">
                                            <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">工商信息</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body  widget-body-lg am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact  tpl-table-black " >
                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td></td>
                                                                            <td>法人信息：</td>
                                                                            <td>{{ business_detail_base.business_legal_name}}</td>
                                                                            <td>注册资本:</td>
                                                                            <td>{{ business_detail_base.business_reg_capital}}</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr class="even gradeC">
                                                                            <td></td>
                                                                            <td>工商注册号：</td>
                                                                            <td>{{ business_detail_base.business_reg_number}}</td>
                                                                            <td>组织机构代码:</td>
                                                                            <td>{{ business_detail_base.business_organization_number}}</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr class="even gradeX">
                                                                            <td></td>
                                                                            <td>统一信用代码：</td>
                                                                            <td>{{ business_detail_base.business_unite_number}}</td>
                                                                            <td>企业类型:</td>
                                                                            <td>有限责任公司</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr class="even gradeC">
                                                                            <td></td>
                                                                            <td>纳税人识别号：</td>
                                                                            <td>{{ business_detail_base.business_payment_number}}</td>
                                                                            <td>行业:</td>
                                                                            <td>{{ business_detail_base.business_industry}}</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr class="even gradeX">
                                                                            <td></td>
                                                                            <td>营业期限：</td>
                                                                            <td>{{ business_detail_base.business_cycle_time}}</td>
                                                                            <td>核准日期:</td>
                                                                            <td>{{ business_detail_base.business_approved_time}}</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr class="even gradeC">
                                                                            <td></td>
                                                                            <td>登记机关：</td>
                                                                            <td>{{ business_detail_base.business_reg_Institute}}</td>
                                                                            <td>英文名称:</td>
                                                                            <td>{{ business_detail_base.business_en_name}}</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr class="even gradeC">
                                                                            <td></td>
                                                                            <td>注册地址：</td>
                                                                            <td colspan="5">{{ business_detail_base.business_en_name}}</td>

                                                                        </tr>
                                                                        <tr class="even gradeX">
                                                                            <td></td>
                                                                            <td colspan="4">经营范围：</td>
                                                                        </tr>
                                                                        <tr class="even gradeC">
                                                                            <td></td>
                                                                            <td colspan="4">{{ business_detail_base.business_scope}}</td>
                                                                        </tr>
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">股东信息</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>股东</th>
                                                                        <th>出资比例</th>
                                                                        <th>认缴出资</th>
                                                                      </tr>

                                                                    <tbody>
                                                                    {% for business_detail_holde in business_detail_holdes %}
                                                                        <tr class="gradeX">
                                                                            <td>{{ business_detail_holde.men_name }}</td>
                                                                            <td>{{ business_detail_holde.holder_percent }}</td>
                                                                            <td>{{ business_detail_holde.holder_amomon }}</td>
                                                                        </tr>
                                                                    {%end%}

                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">对外投资</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>对外投资</th>
                                                                        <th>被投资法定代表人</th>
                                                                        <th>注册资本</th>
                                                                        <th>投资数额</th>
                                                                        <th>投资占比</th>
                                                                        <th>注册时间</th>
                                                                        <th>状态</th>
                                                                      </tr>

                                                                    <tbody>
                                                                    {% for business_detail_invest in business_detail_invests %}
                                                                        <tr class="gradeX">
                                                                            <td>{{ business_detail_invest.invest_name }}</td>
                                                                            <td>{{ business_detail_invest.legal_name }}</td>
                                                                            <td>{{ business_detail_invest.invest_reg_capital }}</td>
                                                                            <td>{{ business_detail_invest.invest_amount}}</td>
                                                                            <td>{{ business_detail_invest.invest_amomon}}</td>
                                                                            <td>{{ business_detail_invest.invest_reg_time}}</td>
                                                                            <td>{{ business_detail_invest.invest_state}}</td>
                                                                        </tr>
                                                                    {% end %}

                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">变更记录</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>变更时间</th>
                                                                        <th>变更项目</th>
                                                                        <th>变更前</th>
                                                                        <th>变更后</th>
                                                                      </tr>

                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td>2015-08-25</td>
                                                                            <td>经营范围变更（含业务范围变更）</td>
                                                                            <td>计算机软硬件的技术开发、技术服务、技术咨询；计算机系统集成；信息系统的技术开发及相关技术服务；依托互联网等技术手段，提供金融中介服务（根据国家规定需要审批的，获得审批后方可经营）。（以上各项涉及法律、行政法规、国务院决定禁止的项目除外，限制的项目须取得许可后方可经营）^人才中介服务。</td>
                                                                            <td>计算机软硬件的技术开发、技术服务、技术咨询；计算机系统集成；信息系统的技术开发及相关技术服务；信息系统的租赁；依托互联网等技术手段，提供金融中介服务（根据国家规定需要审批的，获得审批后方可经营）。（以上各项涉及法律、行政法规、国务院决定禁止的项目除外，限制的项目须取得许可后方可经营）^人力外包服务。</td>
                                                                        </tr>
                                                                        <tr class="gradeX">
                                                                            <td>2015-08-25</td>
                                                                            <td>经营范围</td>
                                                                            <td>计算机软硬件的技术开发、技术服务、技术咨询；计算机系统集成；信息系统的技术开发及相关技术服务；依托互联网等技术手段，提供金融中介服务（根据国家规定需要审批的，获得审批后方可经营）。（以上各项涉及法律、行政法规、国务院决定禁止的项目除外，限制的项目须取得许可后方可经营）^人才中介服务。</td>
                                                                            <td>计算机软硬件的技术开发、技术服务、技术咨询；计算机系统集成；信息系统的技术开发及相关技术服务；信息系统的租赁；依托互联网等技术手段，提供金融中介服务（根据国家规定需要审批的，获得审批后方可经营）。（以上各项涉及法律、行政法规、国务院决定禁止的项目除外，限制的项目须取得许可后方可经营）^人力外包服务。</td>
                                                                        </tr>
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-tab-panel am-fade" id="tab2">
                                      <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">发行产品情况</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>产品ID</th>
                                                                        <th>产品名称</th>
                                                                        <th>产品分类</th>
                                                                        <th>管理类型</th>
                                                                        <th>成立时间</th>
                                                                        <th>运作状态</th>
                                                                        <th>备案时间</th>
                                                                      </tr>
                                                                    <tbody>

                                                                    {% for detail_product in pf_detail_products %}
                                                                        <tr class="gradeX">
                                                                            <td>{{detail_product.cpid}}</td>
                                                                            <td><a href="pf_product_detail.html?id={{detail_product.cpid}}" target="_blank">{{detail_product.cpmc}}</a></td>
                                                                            <td>{{detail_product.pf_jjlx}}</td>
                                                                            <td>{{detail_product.pf_gllx}}</td>
                                                                            <td>{{detail_product.pf_clsj}}</td>
                                                                            {%if detail_product.pf_yzzt=='正在运作'%}
                                                                                <td><button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-success">{{detail_product.pf_yzzt}}</button></td>
                                                                            {%elif detail_product.pf_yzzt=='延期清算' or detail_product.pf_yzzt=='提前清算'%}
                                                                                <td><button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-warning">{{detail_product.pf_yzzt}}</button></td>
                                                                            {%else%}
                                                                                <td><button type="button" class="am-btn am-btn-default am-round am-btn-xs">{{detail_product.pf_yzzt}}</button></td>
                                                                            {%end%}
                                                                            <td>{{detail_product.pf_basj}}</td>
                                                                        </tr>
                                                                    {% end %}
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>

                                    </div>
                                    <div class="am-tab-panel am-fade" id="tab3">
                                        <div class="row-content am-cf">
                                           <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">融资情况</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>时间</th>
                                                                        <th>轮次</th>
                                                                        <th>估值</th>
                                                                        <th>金额</th>
                                                                        <th>比例</th>
                                                                        <th>投资方</th>
                                                                        <th>新闻来源</th>
                                                                      </tr>

                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td>2017-09-19</td>
                                                                            <td>战略融资</td>
                                                                            <td></td>
                                                                            <td>8400万人民币</td>
                                                                            <td></td>
                                                                            <td>腾讯产业共赢基金</td>
                                                                            <td>腾讯科技以现金8400万元投资金证财富</td>
                                                                        </tr>
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                           <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">核心团队</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>姓名</th>
                                                                        <th>职位</th>
                                                                        <th>介绍</th>
                                                                      </tr>
                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td>徐岷波</td>
                                                                            <td>执行董事</td>
                                                                            <td>徐岷波，金证财富执行董事。</td>
                                                                        </tr>
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                           <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">竞品信息</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>产品</th>
                                                                        <th>地区</th>
                                                                        <th>当前轮次</th>
                                                                        <th>行业</th>
                                                                        <th>业务</th>
                                                                        <th>成立时间</th>
                                                                        <th>估值情况</th>
                                                                      </tr>
                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td>商智资讯</td>
                                                                            <td>北京</td>
                                                                            <td>战略融资</td>
                                                                            <td>金融</td>
                                                                            <td>金融行业软件研发商</td>
                                                                            <td>2007-12-19</td>
                                                                            <td>2007-12-</td>
                                                                        </tr>
                                                                        <tr class="gradeX">
                                                                            <td>商智资讯</td>
                                                                            <td>北京</td>
                                                                            <td>战略融资</td>
                                                                            <td>金融</td>
                                                                            <td>金融行业软件研发商</td>
                                                                            <td>2007-12-19</td>
                                                                            <td>2007-12-</td>
                                                                        </tr>
                                                                        <tr class="gradeX">
                                                                            <td>商智资讯</td>
                                                                            <td>北京</td>
                                                                            <td>战略融资</td>
                                                                            <td>金融</td>
                                                                            <td>金融行业软件研发商</td>
                                                                            <td>2007-12-19</td>
                                                                            <td>2007-12-</td>
                                                                        </tr>
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-tab-panel am-fade" id="tab4">
                                      <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">法律诉讼</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>日期</th>
                                                                        <th>裁判文书</th>
                                                                        <th>案由</th>
                                                                        <th>案件身份</th>
                                                                        <th>案件号</th>
                                                                      </tr>
                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td>2017-08-24</td>
                                                                            <td><a>苏州科利科技发展有限公司、苏州科利科技发展有限公司向中国国际经济贸易仲裁委员会申请财产保全其他民事裁定书</a>北京</td>
                                                                            <td>买卖合同纠纷</td>
                                                                            <td>原告人</td>
                                                                            <td>（2017）津0116财保54号</td>
                                                                        </tr>
                                                                        <tr class="gradeX">
                                                                            <td>2017-08-24</td>
                                                                            <td><a>苏州科利科技发展有限公司、苏州科利科技发展有限公司向中国国际经济贸易仲裁委员会申请财产保全其他民事裁定书</a>北京</td>
                                                                            <td>买卖合同纠纷</td>
                                                                            <td>原告人</td>
                                                                            <td>（2017）津0116财保54号</td>
                                                                        </tr>
                                                                        <tr class="gradeX">
                                                                            <td>2017-08-24</td>
                                                                            <td><a>苏州科利科技发展有限公司、苏州科利科技发展有限公司向中国国际经济贸易仲裁委员会申请财产保全其他民事裁定书</a>北京</td>
                                                                            <td>买卖合同纠纷</td>
                                                                            <td>原告人</td>
                                                                            <td>（2017）津0116财保54号</td>
                                                                        </tr>
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                      <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">法院公告</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>公告时间</th>
                                                                        <th>上诉方</th>
                                                                        <th>被诉方</th>
                                                                        <th>公告类型</th>
                                                                        <th>法院</th>
                                                                        <th>详情</th>
                                                                      </tr>
                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td>2017-07-25</td>
                                                                            <td><a>深圳市赢众通非融资性担保有限公司</a></td>
                                                                            <td>贾跃亭</td>
                                                                            <td>起诉状副本及开庭传票</td>
                                                                            <td>（2017）北京市第三中级人民法院</td>
                                                                            <td><a>详情</a></td>
                                                                        </tr>

                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                    </div>
                                     <div class="am-tab-panel am-fade" id="tab5">
                                      正在建设中……
                                    </div>
                                     <div class="am-tab-panel am-fade" id="tab6">
                                      正在建设中……
                                    </div>
                                     <div class="am-tab-panel am-fade" id="tab7">
                                      正在建设中……
                                    </div>
                                     <div class="am-tab-panel am-fade" id="tab8">
                                      正在建设中……
                                    </div>

                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
{% end %}