{% extends "frame.html" %}
{% block head %}
    <title>{{business_detail_base.business_name }}_{{ escape(handler.settings["blog_title"]) }}</title>
    <meta name="description" content="辅投助手为您免费提供{{business_detail_base.business_name }}工商信息查询、注册信息查询、企业信用报告、财务报告查询、电话地址查询、招聘信息等企业信息查询服务,了解{{business_detail_base.business_name }}股东法人、经营状况等详细信息,就到辅投助手！">
    <meta name="keywords" content="{{business_detail_base.business_name }}工商注册信息查询,{{business_detail_base.business_name }}信用报告查询,{{business_detail_base.business_name }}财务报告查询,{{business_detail_base.business_name }}电话地址查询">
{% end %}

{% block main %}

        <div class="tpl-content-wrapper">
           <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-title  am-cf">
                                    <h2>{{business_detail_base.business_name }}</h2>
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs">{{ business_detail_base.business_reg_state }}</button>
                                    {% if business_detail_base.business_industry!='' %}
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs">{{ business_detail_base.business_industry }}</button>
                                    {% end %}
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-title  am-fr">
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-primary">发送报告</button>
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-warning">加入监控</button>
                                    <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-success">更新数据</button>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <div class="am-list-news-bd">
                                        <ul>
                                            {% if business_detail_base.business_phone != '' %}
                                            <li>
                                                <span class="am-progress-title">电话：</span>
                                                <span class="am-progress-title">{{ business_detail_base.business_phone }}</span>
                                            </li>
                                            {% end %}
                                            {% if business_detail_base.business_email != '' %}
                                            <li>
                                                <span class="am-progress-title">邮箱：</span>
                                                <span class="am-progress-title">{{ business_detail_base.business_email }}</span>
                                            </li>
                                            {% end %}
                                            {% if business_detail_base.business_url !='' %}
                                            <li>
                                                <span class="am-progress-title">网址：</span>
                                                <span class="am-progress-title"><a href="http://{{business_detail_base.business_url}}" target="_blank">{{business_detail_base.business_url}}</a></span>
                                            </li>
                                            {% end %}
                                            {% if business_detail_base.business_addres !='' %}
                                            <li>
                                                <span class="am-progress-title">地址：</span>
                                                <span class="am-progress-title">{{ business_detail_base.business_addres}}</span>
                                            </li>
                                            {% end %}
                                            {% if business_detail_base.business_summary !='' %}
                                            <li>
                                                <span class="am-progress-title">简介：</span>
                                                <span class="am-progress-title">{{ business_detail_base.business_summary}}</span>
                                            </li>
                                            {% end %}
                                        </ul>
                                </div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-tabs" data-am-tabs>
                                  <ul class="am-tabs-nav am-nav am-nav-tabs">
                                    <li class="am-active"><a href="#tab1">企业概况</a></li>
                                    <li><a href="#tab1-1">产品情况</a></li>
                                    <li><a href="#tab2">发展情况</a></li>
                                    <li><a href="#tab3">风险信息</a></li>
                                    <li><a href="#tab4">企业图谱</a></li>
                                    <li><a href="#tab5">涉诉信息</a></li>
                                    <li><a href="#tab6">知识产权</a></li>
                                    <li><a href="#tab7">经营信息</a></li>

                                  </ul>

                                  <div class="am-tabs-bd">
                                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                        <div class="row-content am-cf">
                                            <div class="row am-cf">
                                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-6 widget-margin-bottom-lg">
                                                    <div class="widget am-cf widget-body-lg">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">工商信息</div>
                                                        </div>
                                                        <div class="widget-body  am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-text-wrap tpl-table-black " >
                                                                    <tbody>

                                                                        <tr class="gradeX">
                                                                            <td width="25%">法人信息：</td>
                                                                            <td width="75%">{{ business_detail_base.business_legal_name}}</td>
                                                                        </tr>
                                                                         <tr class="gradeX">
                                                                             <td>注册资本:</td>
                                                                             <td>{{ business_detail_base.business_reg_capital}}</td>
                                                                         </tr>
                                                                         <tr>
                                                                             <td>工商注册号：</td>
                                                                             <td>{{ business_detail_base.business_reg_number}}</td>
                                                                         </tr>
                                                                        <tr>
                                                                            <td>组织机构代码:</td>
                                                                            <td>{{ business_detail_base.business_organization_number}}</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>统一信用代码：</td>
                                                                            <td>{{ business_detail_base.business_unite_number}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>企业类型:</td>
                                                                            <td>有限责任公司</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>纳税人识别号：</td>
                                                                            <td>{{ business_detail_base.business_payment_number}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>行业:</td>
                                                                            <td>{{ business_detail_base.business_industry}}</td>

                                                                        </tr>
                                                                        <tr>
                                                                           <td>营业期限：</td>
                                                                            <td>{{ business_detail_base.business_cycle_time}}</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>核准日期:</td>
                                                                            <td>{{ business_detail_base.business_approved_time}}</td>

                                                                        </tr>
                                                                        <tr>
                                                                           <td>登记机关：</td>
                                                                            <td>{{ business_detail_base.business_reg_Institute}}</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>英文名称:</td>
                                                                            <td>{{ business_detail_base.business_en_name}}</td>

                                                                        </tr>
                                                                        <tr>
                                                                             <td>注册地址：</td>
                                                                            <td >{{ business_detail_base.business_addres}}</td>

                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-6 widget-margin-bottom-lg">
                                                    <div class="widget am-cf widget-body-lg">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">社保公积金信息（仅开放深圳地区）</div>
                                                        </div>
                                                        <div class="widget-body  am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black " >
                                                                    <tbody>

                                                                        <tr class="gradeX">
                                                                            <td>社保单位编号：</td>
                                                                            <td>{% if sbzfgjjlist.si_num is not None %}{{ sbzfgjjlist.si_num}}{% else %}--{% end %}</td>
                                                                        </tr>
                                                                         <tr class="gradeX">
                                                                             <td>投保起始年月:</td>
                                                                             <td>{% if sbzfgjjlist.si_begindate is not None %}{{ sbzfgjjlist.si_begindate}}{% else %}--{% end %}</td>
                                                                         </tr>
                                                                         <tr>
                                                                             <td>当前状态：</td>
                                                                             <td>{% if sbzfgjjlist.si_status is not None %}{{ sbzfgjjlist.si_status}}{% else %}--{% end %}</td>
                                                                         </tr>
                                                                        <tr>
                                                                            <td>参保总人数:</td>
                                                                            <td>{% if sbzfgjjlist.si_all_user is not None %}{{ sbzfgjjlist.si_all_user}}{% else %}--{% end %}</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>养老参保人数：</td>
                                                                            <td>{% if sbzfgjjlist.si_yanglao_user is not None %}{{ sbzfgjjlist.si_yanglao_user}}{% else %}--{% end %}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>医疗参保人数:</td>
                                                                            <td>{% if sbzfgjjlist.si_yiliao_user is not None %}{{ sbzfgjjlist.si_yiliao_user}}{% else %}--{% end %}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>工伤参保人数：</td>
                                                                            <td>{% if sbzfgjjlist.si_gongshang_user is not None %}{{ sbzfgjjlist.si_gongshang_user}}{% else %}--{% end %}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>失业参保人数:</td>
                                                                            <td>{% if sbzfgjjlist.si_shiye_user is not None %}{{ sbzfgjjlist.si_shiye_user}}{% else %}--{% end %}</td>

                                                                        </tr>
                                                                        <tr>
                                                                           <td>住房公积金号：</td>
                                                                            <td>{% if sbzfgjjlist.gjj_num is not None %}{{ sbzfgjjlist.gjj_num}}{% else %}--{% end %}</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>单位开户时间:</td>
                                                                            <td>{% if sbzfgjjlist.gjj_begindate is not None %}{{ sbzfgjjlist.gjj_begindate}}{% else %}--{% end %}</td>

                                                                        </tr>
                                                                        <tr>
                                                                           <td>公积金缴存截至时间：</td>
                                                                            <td>{% if sbzfgjjlist.gjj_enddate is not None %}{{ sbzfgjjlist.gjj_enddate}}{% else %}--{% end %}</td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>近12个月单位账户状态:</td>
                                                                            <td>{% if sbzfgjjlist.gjj_status is not None %}{{ sbzfgjjlist.gjj_status}}{% else %}--{% end %}</td>

                                                                        </tr>
                                                                        <tr>
                                                                             <td>数据更新时间：</td>
                                                                            <td >{% if sbzfgjjlist.business_ins_time is not None %}{{ sbzfgjjlist.business_ins_time}}{% else %}--{% end %}</td>

                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row am-cf">
                                               <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 widget-margin-bottom-lg">
                                                    <div class="widget am-cf widget-body">

                                                        <div class="widget-body  am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <dl>
                                                                            <dd>经营范围：</dd>
                                                                            <dd>{{ business_detail_base.business_scope}}</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">股东信息</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>股东</th>
                                                                        <th>出资比例</th>
                                                                        <th>认缴出资</th>
                                                                      </tr>

                                                                    <tbody>
                                                                    {% for business_detail_holde in business_detail_holdes %}
                                                                        <tr class="gradeX">
                                                                            <td>
                                                                                {% if business_detail_holde.vmen_name is not None %}
                                                                                <a target="_blank" href="business_detail.html?id={{business_detail_holde.vmen_name}}">{{ business_detail_holde.men_name }}</a>
                                                                                {% else %}
                                                                                    {{ business_detail_holde.men_name }}
                                                                                {% end %}
                                                                            </td>
                                                                            <td>{{ business_detail_holde.holder_percent }}</td>
                                                                            <td>{{ business_detail_holde.holder_amomon }}</td>
                                                                        </tr>
                                                                    {%end%}

                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">对外投资</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-bordered am-table-striped am-text-nowrap " >
                                                                      <tr>
                                                                        <th>对外投资</th>
                                                                        <th>被投资法定代表人</th>
                                                                        <th>注册资本</th>
                                                                        <th>投资数额</th>
                                                                        <th>投资占比</th>
                                                                        <th>注册时间</th>
                                                                        <th>状态</th>
                                                                      </tr>

                                                                    <tbody>
                                                                    {% for business_detail_invest in business_detail_invests %}
                                                                        <tr class="gradeX">
                                                                            {% if business_detail_invest.vbusiness_name!='' %}
                                                                            <td><a target="_blank" href="business_detail.html?id={{ business_detail_invest.vbusiness_name }}">{{ business_detail_invest.invest_name }}</a></td>
                                                                            {% else %}
                                                                                <td>{{ business_detail_invest.invest_name }}</td>
                                                                            {% end %}

                                                                            <td>{{ business_detail_invest.legal_name }}</td>
                                                                            <td>{{ business_detail_invest.invest_reg_capital }}</td>
                                                                            <td>{{ business_detail_invest.invest_amount}}</td>
                                                                            <td>{{ business_detail_invest.invest_amomon}}</td>
                                                                            <td>{{ business_detail_invest.invest_reg_time}}</td>
                                                                            <td>{{ business_detail_invest.invest_state}}</td>
                                                                        </tr>
                                                                    {% end %}

                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">变更记录</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th width="10%">变更时间</th>
                                                                        <th width="10%">变更项目</th>
                                                                        <th>变更前</th>
                                                                        <th>变更后</th>
                                                                      </tr>

                                                                    <tbody>
                                                                         {% autoescape None %}
                                                                         {% for business_detail_change in business_detail_changes %}

                                                                        <tr class="gradeX">
                                                                            <td>{{ business_detail_change.change_time }}</td>
                                                                            <td>{{ business_detail_change.change_name }}</td>
                                                                            <td>{{ business_detail_change.change_before }}</td>
                                                                            <td>{{business_detail_change.change_after }}</td>
                                                                        </tr>
                                                                         {% end %}
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                      <div class="am-tab-panel am-fade" id="tab1-1">
                                      <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">发行产品情况</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>产品名称</th>
                                                                        <th>产品分类</th>
                                                                        <th>管理类型</th>
                                                                        <th>成立时间</th>
                                                                        <th>运作状态</th>
                                                                        <th>备案时间</th>
                                                                      </tr>
                                                                    <tbody>

                                                                    {% for detail_product in pf_detail_products %}
                                                                        <tr class="gradeX">
                                                                            <td><a href="fund_product_pf_detail.html?fundid={{detail_product.fundid}}" target="_blank">{{detail_product.fundName}}</a></td>
                                                                            <td>{{detail_product.jjlx}}</td>
                                                                            <td>{{detail_product.gllx}}</td>
                                                                            <td>{{detail_product.clsj}}</td>
                                                                            {%if detail_product.yzzt=='正在运作'%}
                                                                                <td><button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-success">{{detail_product.yzzt}}</button></td>
                                                                            {%elif detail_product.yzzt=='延期清算' or detail_product.yzzt=='提前清算'%}
                                                                                <td><button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-warning">{{detail_product.yzzt}}</button></td>
                                                                            {%else%}
                                                                                <td><button type="button" class="am-btn am-btn-default am-round am-btn-xs">{{detail_product.yzzt}}</button></td>
                                                                            {%end%}
                                                                            <td>{{detail_product.basj}}</td>
                                                                        </tr>
                                                                    {% end %}
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>

                                    <div class="am-tab-panel am-fade" id="tab2">
                                        <div class="row-content am-cf">
                                           <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">融资情况</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>时间</th>
                                                                        <th>轮次</th>
                                                                        <th>估值</th>
                                                                        <th>金额</th>
                                                                        <th>比例</th>
                                                                        <th>投资方</th>
                                                                        <th>新闻来源</th>
                                                                      </tr>

                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                           <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">核心团队</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>姓名</th>
                                                                        <th>职位</th>
                                                                        <th>介绍</th>
                                                                      </tr>
                                                                    <tbody>
                                                                    {% for menlist in menlists %}
                                                                        <tr class="gradeX">
                                                                            <td>{{ menlist.men_name}}</td>
                                                                            <td>{{ menlist.men_job}}</td>
                                                                            <td>暂无</td>
                                                                        </tr>
                                                                    {% end %}
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                           <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">竞品信息</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>产品</th>
                                                                        <th>地区</th>
                                                                        <th>当前轮次</th>
                                                                        <th>行业</th>
                                                                        <th>业务</th>
                                                                        <th>成立时间</th>
                                                                        <th>估值情况</th>
                                                                      </tr>
                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>


                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-tab-panel am-fade" id="tab3">
                                      <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">法律诉讼</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>日期</th>
                                                                        <th>裁判文书</th>
                                                                        <th>案由</th>
                                                                        <th>案件身份</th>
                                                                        <th>案件号</th>
                                                                      </tr>
                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>

                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                      <div class="row">
                                                 <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                                                    <div class="widget am-cf">
                                                        <div class="widget-head am-cf">
                                                            <div class="widget-title am-fl">法院公告</div>
                                                            <div class="widget-function am-fr">
                                                                <a href="javascript:;" class="am-icon-cog"></a>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body   am-fr">
                                                            <div class="am-scrollable-horizontal ">
                                                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                                                      <tr>
                                                                        <th>公告时间</th>
                                                                        <th>上诉方</th>
                                                                        <th>被诉方</th>
                                                                        <th>公告类型</th>
                                                                        <th>法院</th>
                                                                        <th>详情</th>
                                                                      </tr>
                                                                    <tbody>
                                                                        <tr class="gradeX">
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>

                                                                        <!-- more data -->
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                         </div>
                                                    </div>
                                                 </div>
                                            </div>
                                    </div>
                                     <div class="am-tab-panel am-fade" id="tab4">
                                      暂未查询到相关信息
                                    </div>
                                     <div class="am-tab-panel am-fade" id="tab5">
                                      暂未查询到相关信息
                                    </div>
                                     <div class="am-tab-panel am-fade" id="tab6">
                                      暂未查询到相关信息
                                    </div>
                                     <div class="am-tab-panel am-fade" id="tab7">
                                      暂未查询到相关信息
                                    </div>
                                     <div class="am-tab-panel am-fade" id="tab8">
                                      暂未查询到相关信息
                                    </div>

                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
{% end %}