{% extends "frame.html" %}
{% block main %}

        <div class="tpl-content-wrapper" data-type="pf_map">
           <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">私募基金管理人地图</div>

                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-tabs" data-am-tabs>
                                  <ul class="am-tabs-nav am-nav am-nav-tabs">
                                    <li class="am-active"><a href="#tab1">私募基金管理人迁徙图</a></li>
                                    <li><a href="#tab2">查人名</a></li>
                                    <li><a href="#tab3">查地区</a></li>
                                  </ul>

                                  <div class="am-tabs-bd">
                                    <div class="am-tab-panel am-active" id="tab1" data-type="div_pf_map">
                                        <div id="pf_map" class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="height:800px"></div>
                                    </div>
                                    <div class="am-tab-panel am-fade" id="tab2">
                                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                                <input type="text" class="am-form-field ">
                                                <span class="am-input-group-btn">
                                                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-tab-panel am-fade" id="tab3">
                                      正在建设中……
                                    </div>
                                  </div>
                                </div>

                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

<script src="{{ static_url("assets/js/pf_map.js")}}" type="text/javascript" />


{% end %}