{% extends "frame.html" %}
{% block head %}
    <title>{{pf_product_bases.pf_cpmc}}_{{ escape(handler.settings["blog_title"]) }}</title>
    <meta name="description" content="辅投助手为您免费提供{{pf_product_bases.pf_cpmc}}工商信息查询、注册信息查询、企业信用报告、财务报告查询、电话地址查询、招聘信息等企业信息查询服务,了解{{pf_product_bases.pf_cpmc}}股东法人、经营状况等详细信息,就到辅投助手！">
    <meta name="keywords" content="{{pf_product_bases.pf_cpmc}}工商注册信息查询,{{pf_product_bases.pf_cpmc}}信用报告查询,{{pf_product_bases.pf_cpmc}}财务报告查询,{{pf_product_bases.pf_cpmc}}电话地址查询">
{% end %}
{% block main %}
        <div class="tpl-content-wrapper" >
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-title am-cf">
                        <h2>{{pf_product_bases.pf_cpmc}}</h2>
                        <button type="button" class="am-btn am-btn-default am-round am-btn-xs">{{pf_product_bases.pf_jjlx}}</button>
                        <button type="button" class="am-btn am-btn-default am-round am-btn-xs">{{pf_product_bases.pf_yzzt}}</button>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-title am-fr">
                        <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-primary">发送报告</button>
                        <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-warning">加入监控</button>
                        <button type="button" class="am-btn am-btn-default am-round am-btn-xs am-btn-success">更新数据</button>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget-body am-fr">
                    <div class="am-scrollable-horizontal ">
                        <table   class="am-table am-table-compact tpl-table-black am-text-nowrap" id="example-r">
                        <tbody>

                            <tr>
                                <td>基金编号：</td>
                                <td>{{pf_product_bases.pf_jjbm}}</td>
                                <td>成立时间：</td>
                                <td>{{pf_product_bases.pf_clsj}}</td>
                            </tr>
                            <tr>
                                <td>备案时间：</td>
                                <td>{{pf_product_bases.pf_basj}}</td>
                                <td>基金备案阶段：</td>
                                <td>{{pf_product_bases.pf_bajd}}</td>
                            </tr>
                            <tr>
                                <td>币种：</td>
                                <td>{{pf_product_bases.pf_bz}}</td>
                                <td>基金管理人名称：</td>
                                <td>{{pf_product_bases.pf_jjglrmc}}</td>
                            </tr>
                            <tr>
                                <td>管理类型：</td>
                                <td>{{pf_product_bases.pf_gllx}}</td>
                                <td>托管人名称：</td>
                                <td>{{pf_product_bases.pf_tgrmc}}</td>
                            </tr>

                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="widget-body am-fr">
                    <div class="am-tabs" data-am-tabs="">
                        <ul class="am-tabs-nav am-nav am-nav-tabs">
                            <li class="am-active"><a href="#tab1">基金业绩</a>
                            </li>
                            <li><a href="#tab2">基本信息</a>
                            </li>
                            <li><a href="#tab3">管理团队</a>
                            </li>
                            <li><a href="#tab4">风险提示</a>
                            </li>
                            <li><a href="#tab5">相关舆情</a>
                            </li>
                        </ul>
                        <div class="am-tabs-bd" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                               ……暂无相关信息……
                            </div>
                            <div class="am-tab-panel am-fade" id="tab2">
                               ……暂无相关信息……
                            </div>
                            <div class="am-tab-panel am-fade" id="tab3">
                                ……暂无相关信息……
                            </div>
                            <div class="am-tab-panel am-fade" id="tab4">
                                ……暂无相关信息……
                            </div>
                            <div class="am-tab-panel am-fade" id="tab5">……暂无相关信息……</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-content am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">发行产品情况</div>
                            <div class="widget-function am-fr">
                                <a href="javascript:;" class="am-icon-cog"></a>
                            </div>
                        </div>
                        <div class="widget-body   am-fr">
                            <div class="am-scrollable-horizontal ">
                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
                                     <tbody>


                                        <tr class="gradeX">
                                            <td>产品名称：</td>
                                            <td colspan="3"><a>{{pf_product_bases.pf_cpmc}}</a></td>
                                        </tr>
                                        <tr>
                                            <td>基金编码：</td>
                                            <td colspan="3">{{pf_product_bases.pf_jjbm}}</td>
                                        </tr>
                                        <tr>
                                            <td>成立时间：</td>
                                            <td colspan="3">{{pf_product_bases.pf_clsj}}</td>
                                        </tr>
                                        <tr>
                                            <td>备案时间：</td>
                                            <td colspan="3">{{pf_product_bases.pf_basj}}</td>
                                        </tr>
                                        <tr>
                                            <td>基金备案阶段：</td>
                                            <td colspan="3">{{pf_product_bases.pf_bajd}}</td>
                                        </tr>
                                        <tr>
                                            <td>基金类型：</td>
                                            <td colspan="3">{{pf_product_bases.pf_jjlx}}</td>
                                        </tr>
                                        <tr>
                                            <td>币种：</td>
                                            <td colspan="3">{{pf_product_bases.pf_bz}}</td>
                                        </tr>
                                        <tr>
                                            <td>币种：</td>
                                            <td colspan="3">{{pf_product_bases.pf_bz}}</td>
                                        </tr>
                                        <tr>
                                            <td>基金管理人名称：</td>
                                            <td colspan="3">{{pf_product_bases.pf_jjglrmc}}</td>
                                        </tr>



                                        <!-- more data -->
                                    </tbody>
                                </table>
                            </div>

                         </div>
                    </div>
                 </div>
            </div>
        </div>
<script>

</script>
{% end %}