{% extends "frame.html" %}
{% block head %}
    <title>{{ stock_report_detail.stkcode }}_研报_{{stock_report_detail.stkname}}_{{ stock_report_detail.reportname }}_研究报告正文_[{{ escape(handler.settings["blog_title"]) }}]</title>
    <meta name="description" content="辅投助手为您提供股票代码{{ stock_report_detail.stkcode }}_{{stock_report_detail.stkname}}研报信息、{{ stock_report_detail.reportname }}、预测收益{{ stock_report_detail.ycsy1 }}预测市盈率{{ stock_report_detail.ycsyl1}}、{{ stock_report_detail.pjjg }}行业研报尽在futouzs.com！">
    <meta name="keywords" content="辅投助手,{{ stock_report_detail.stkcode }}研报,{{stock_report_detail.stkname}}研究报告，{{ stock_report_detail.pjjg }}研究报告,行业研报">
    <style>
        .newsContent{
            text-indent:2em
        }
    </style>
{% end %}
{% block main %}
        <div class="tpl-content-wrapper" >

            <div class="row-content am-cf">


                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">{{ stock_report_detail.stkcode }}_{{stock_report_detail.stkname}}研究报告正文</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                 <div class="am-form-group">
                                        <label for="user-name" class="am-u-md-3 am-u-sm-12 am-form-label"></label>
                                        <div class="am-u-md-9 am-u-sm-12"><label>{{ stock_report_detail.reportname }}</label>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-email" class="am-u-md-3 am-form-label"></label>
                                        <div class="am-u-sm-12 am-u-md-9">
                                            <span class="tpl-form-line-small-title">发布时间：{{ stock_report_detail.pubtime }}</span>
                                            <span class="tpl-form-line-small-title">研报来源：{{ stock_report_detail.pjjg }}</span>
                                            <span class="tpl-form-line-small-title"><a target="_blank" href="{{ stock_report_detail.url }}" >研究报告原文</a></span>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-12">
                                               {%raw  stock_report_detail.body %}
                                        </div>
                                        <div class="row am-cf">
                                            {%if stock_report_detail.stkcode[0:1]=='0' or stock_report_detail.stkcode[0:1]=='3'%}
                                                {%set market='sz' %}
                                            {%else%}
                                                {%set market='sh' %}
                                            {%end%}
                                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-6 widget-margin-bottom-lg ">
                                                <img style="-webkit-user-select: none;background-color: white" src="http://image2.sinajs.cn/newchart/daily/n/{{market}}{{ stock_report_detail.stkcode }}.gif">
                                                <p>{{ stock_report_detail.stkcode }}{{stock_report_detail.stkname}}趋势图</p>
                                            </div>
                                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-6 widget-margin-bottom-lg ">
                                                <img style="-webkit-user-select: none;background-color: white" src="http://image2.sinajs.cn/newchart/min/n/{{market}}{{ stock_report_detail.stkcode }}.gif">
                                                <p>{{ stock_report_detail.stkcode }}{{stock_report_detail.stkname}}分时图</p>

                                            </div>
                                        </div>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>

<script>

</script>
{% end %}