{% extends "frame.html" %}
{% block head %}
    <title>{{ stock_news_detail.stkcode }}_{{stock_news_detail.stkname}}_{{stock_news_detail.title}}_新闻_[{{ escape(handler.settings["blog_title"]) }}]</title>
    <meta name="description" content="辅投助手为您提供股票代码{{ stock_news_detail.stkcode }}定期公告、{{stock_news_detail.stkname}}新闻信息、{{ stock_news_detail.title }}，相关信息尽在futouzs.com！">
    <meta name="keywords" content="辅投助手,股票代码{{ stock_news_detail.stkcode }}定期公告,{{stock_news_detail.stkname}}定期公告，{{ stock_news_detail.stkname }}新闻,行业研报">
    <style>
        .newsContent{
            text-indent:2em
        }
    </style>
{% end %}
{% block main %}
        <div class="tpl-content-wrapper" >

            <div class="row-content am-cf">


                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">股票代码{{ stock_news_detail.stkcode }}_{{stock_news_detail.stkname}}新闻</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                 <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label"></label>
                                        <div class="am-u-sm-9"><label>{{ stock_news_detail.title }}</label>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-email" class="am-u-sm-3 am-form-label"></label>
                                        <div class="am-u-sm-9">
                                            <span class="tpl-form-line-small-title">发布时间：{{ stock_news_detail.pubtime }}</span>
                                            <span class="tpl-form-line-small-title"><a target="_blank" href="{{ stock_news_detail.url }}" >新闻原文</a></span>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-12">
                                               {%raw  stock_news_detail.body %}
                                        </div>
                                        <div class="am-u-sm-12">
                                               <iframe src="{{stock_news_detail.url}}" name="news" width="100%" scrolling="yes" height="600" style="background-color: white;" frameborder="0"></iframe>
                                        </div>

                                        <div class="row am-cf">
                                            {%if stock_news_detail.stkcode[0:1]=='0' or stock_news_detail.stkcode[0:1]=='3'%}
                                                {%set market='sz' %}
                                            {%else%}
                                                {%set market='sh' %}
                                            {%end%}
                                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-6 widget-margin-bottom-lg ">
                                                <img style="-webkit-user-select: none;background-color: white" src="http://image2.sinajs.cn/newchart/daily/n/{{market}}{{ stock_news_detail.stkcode }}.gif">
                                                <p>{{ stock_news_detail.stkcode }}{{stock_news_detail.stkname}}趋势图</p>
                                            </div>
                                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-6 widget-margin-bottom-lg ">
                                                <img style="-webkit-user-select: none;background-color: white" src="http://image2.sinajs.cn/newchart/min/n/{{market}}{{ stock_news_detail.stkcode }}.gif">
                                                <p>{{ stock_news_detail.stkcode }}{{stock_news_detail.stkname}}分时图</p>

                                            </div>
                                        </div>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>

<script>

</script>
{% end %}